@horizontal-gutter: 15px;

@color-primary: #1a4287;
@color-secondary: #a62d3c;

@panel-gradient-primary-color: #f1f1f1;
@panel-gradient-secondary-color: #e1e1e1;

@logo-img-width: 70px;
@logo-width: 2 * @horizontal-gutter + @logo-img-width;

@toolbar-width: 64px;
