<div class="edm-ext-panel-body">
	<div class="edm-ext-price-promise disabled">
		<div class="edm-ext-price-promise-inner">
			<span class="edm-ext-title">Price <span>Promise<sup>SM</sup></span></span>
			<span>Special Offers</span>
			<span class="edm-ext-found-vehicles">0 vehicles found</span>
		</div>
		<div class="edm-ext-price-promise-dropdown">
			<ul class="edm-ext-special-offers-list"></ul>
			<nav>
				<ul class="edm-ext-vehicles-list"></ul>
			</nav>
		</div>
	</div>
</div>
<div class="edm-ext-logo"></div>
<div class="edm-ext-toolbar">
	<div class="edm-ext-icon" data-action="settings"><i class="edm-ext-icon-mask edm-ext-icon-settings"></i></div>
	<div class="edm-ext-icon" data-action="close"><i class="edm-ext-icon-mask edm-ext-icon-close"></i></div>
</div>
