<!-- logo -->
<div class="edm-ext-logo" data-action="toggle-view"></div>
<!--/logo -->

<!-- inner -->
<div class="edm-ext-panel-inner">

</div>
<!--/inner -->

<!-- toolbar -->
<div class="edm-ext-toolbar">
	<div class="edm-ext-toolbar-inner">
		<div class="edm-ext-button" data-action="exclude">
			<%= chrome.i18n.getMessage('panel_exclude_button_title') %>
		</div>
		<div class="edm-ext-button" data-action="close">
			<div class="glyphicon glyphicon-remove"></div>
		</div>
	</div>
</div>
<!--/toolbar -->
