<!-- logo -->
<div class="edm-ext-logo" data-action="toggle-view" title="<%= chrome.i18n.getMessage('panel_logo_title') %>">
	<span class="edm-ext-offers-count-label">0</span>
</div>
<!--/logo -->

<!-- inner -->
<div class="edm-ext-panel-inner">
	<!-- price promise -->
	<div class="edm-ext-price-promise">
		<div class="edm-ext-price-promise-btn">
			<span class="edm-ext-price-promise-title">
				Price <span class="edm-ext-primary-color">Promise<sup>sm</sup></span>
			</span>
			<span>Special Offers</span>
			<span class="edm-ext-price-promise-count">0</span> vehicles found
			<span class="edm-ext-dropdown-caret"><span class="glyphicon glyphicon-chevron-down"></span></span>
		</div>
		<div class="edm-ext-panel-dropdown">
			<div class="edm-ext-vehicles"></div>
			<div class="edm-ext-special-offers"></div>
		</div>
	</div>
	<!--/price promise -->

</div>
<!--/inner -->

<!-- toolbar -->
<div class="edm-ext-toolbar">
	<div class="edm-ext-button" data-action="exclude" title="<%= chrome.i18n.getMessage('panel_exclude_button_title') %>">
		<div class="glyphicon glyphicon-eye-close"></div> <%= chrome.i18n.getMessage('panel_exclude_button_text') %>
	</div>
	<div class="edm-ext-button" data-action="minimize" title="<%= chrome.i18n.getMessage('panel_minimize_button_title') %>">
		<div class="glyphicon glyphicon-resize-small"></div> <%= chrome.i18n.getMessage('panel_minimize_button_text') %>
	</div>
</div>
<!--/toolbar -->
