.edm-panel {
    background: #144674;
    border: 1px solid #436b90;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 1.3;
    right: 10px;
    position: fixed;
    bottom: 10px;
    width: 250px;
    z-index: 10000;
    transition: bottom .5s ease;
}

.edm-panel.edm-hide {
    bottom: -300px;
}

.edm-head {
    background: #012546;
    color: #ccd7e0;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
}

.edm-vehicles-list {
    height: 174px;
    overflow-y: auto;
    transition: height .2s ease;
}

.edm-parsing .edm-vehicles-list {
    height: 0;
}

.edm-vehicles-list-item {
    border-top: 1px dotted #436b90;
    padding: 5px 10px;
}
.edm-vehicles-list-item:first-child {
    border-top: 0;
}
