.edm-ext-panel {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: left;
  text-shadow: none;
  text-transform: none;

  &, *, *:before, *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

}
